/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Public Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: 'Lato', sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}


.main-section{
    width: 210mm;
    background-color: white;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
}

.main-section .left-part{
    width: 45%;
    height: 100%;
    background-color: #c5d6f4;
    padding: 2.8rem;
}

.left-part .photo-container{
    margin-bottom: 2.2rem;
}

.left-part .photo-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1rem solid white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0.6rem;
    background-color: #444440;
    color: white;
    text-align: center;
    margin: 1.4rem 0;
}

.contact-container{
    margin-bottom: 2.2rem;
}

.contact-container .contact-list{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    color: rgb(13, 2, 2);
    font-size: 1rem;
}

.education-container{
    margin-bottom: 2.2rem;
    font-family: 'Lato', sans-serif;
}

.education-container .course{
    margin-bottom: 1rem;
    color: #414042;
}
 
.education-container .education-title{
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: .3rem;
}

.education-container .college-name{
    margin-bottom: 0.3rem;
    font-weight: 600;
    
}

.education-container .education-date{
    font-size: 0.9rem;
}

.skills-container .skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
    font-family: 'Lato', sans-serif;
    color: #414042;
}

.skills-container .skill .right-skill .outer-layer{
    background-color: hwb(187 5% 20%);
    height:0.4rem;
    width: 5rem;
    border-radius: 0.4rem;
}

.skills-container .skill .right-skill .inner-layer{
    background-color: #3D3D3D;
    height: 100%;
    border-radius: inherit;
}

.right-part{
    padding: 2.8rem;
}

.right-part .banner{
    font-family: 'Open Sans', sans-serif; 
    color: #4D4D4F;
    margin-bottom: 2.2rem;
}

.right-part .banner .firstname{
    font-size: 40px;
}

.right-part .banner .lastname{
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    margin-top: -1rem;
}

.right-part .banner .position{
    letter-spacing: 0.3rem;
    margin-top: -0.5rem;
    font-size: 1.1rem;
}

.work-container{
    margin-top: 5rem;
    font-family: 'Lato', sans-serif;
}

.work-container .work:not(:last-child){
    margin-bottom: 1.8rem;
}

.work-container .work .job-date{
    display: flex;
    justify-content: space-between;
    color: #4D4D4F;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    font-weight: 500;
}

.work-container .work .company-name{
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #4D4D4F;

}

.work-container .work .work-text{
    color: #737373;
    font-size: 0.8rem;
    text-align: justify;
    line-height: 1rem;
}

.references-container .references{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-family: 'Lato', sans-serif;
    color: #4D4D4F;
}

.references-container .references .name{
    font-weight: 800;
    font-size: 1.1rem;
}

.references-container .references .company-name{
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.references-container .references .phone{
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    color: #414042;
}
.references-container .references .phone p{
    margin: 0.4rem 0;
}

.references-container .references .phone .phone-text{
    font-weight: 600;
}

.text-left{
    text-align: left;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #05b4ff;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

span {
    color: var(--main-color);
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover {
    color: var(--main-color);
}

.navlist a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section {
    padding: 160px 15% 120px;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide {
    margin-bottom: 20px;
}

.one {
    display: inline-block;
    margin-right: 15px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}

.two {
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;

}

.home-text h3 {
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}

.home-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}

.button {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 12px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all .45s ease;
}

.btn:hover {
    transform: scale(0.9);
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 5px;

}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.about-text h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.8;
    margin-bottom: 4rem;
}

.services {
    background: var(--second-bg-color);

}

.main-text {
    text-align: center;
}

.main-text p {
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.box {
    background: var(--bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}

.s-icons i {
    font-size: 32px;
    margin-bottom: 20px;

}

.box h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}

.box p {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}

.box:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #00a6ff);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    font: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;

}

.layer i {
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.row:hover img {
    transform: scale(1.1);

}

.row:hover .layer {
    height: 100%;
}

.contact {
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact-text h4 {
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.contact-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
}

.list {
    margin-bottom: 2.8rem;

}

.list li {
    margin-bottom: 12px;

}

.list li a {
    display: block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
}

.list li a:hover {
    color: var(--text-color);
    transform: translateY(5px);

}

.contact-icons i {
    height: 45px;
    width: 45px;
    color: var(--text-color);
    font-size: 22px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}

.contact-icons i:hover {

    color: var(--main-color);
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 14px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.contact-form textarea {
    resize: none;
    height: 240px;
}

.contact-form .submit {
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
}

.contact-form .submit:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.end {
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: var(--bg-color);
}

.last-text p {
    color: var(--second-color);
    font-size: 14px;

}

.top i {
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--text-color);
    background: var(--main-color);
}

@media (max-width: 1480px) {
    header {
        padding: 12px 2.5%;
        transition: .1s;
    }

    section {
        padding: 110px 3% 60px;
    }

    .end {
        padding: 15px 3%;
    }
}
@media (max-width: 1100px){
    :root{
        --big-font:4rem;
        --h2-font:2.5rem;
        --p-font:1rem;
        transition: .1s;
    }
    .home-text h3{
        font-size: 2.5rem;
    }
    .home{
        height: 87vh;
    }
}
@media (max-width:920){
    .about{
        grid-template-columns: 1fr;

    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .contact{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 480px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;

    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);

    }
    .navlist a:hover{
        color: var(--main-color);
    }
    navlist a.active{
        color: var(--text-color);
    }
    .navlist.open{
        top: 100%;
    }
}